<div>
  <p>
    <span>
      <%- entry.author %>
    </span>
    <br>
    <span>
      <%= entry.timestamp.toLocaleString('en-US', { hour: '2-digit', minute: '2-digit' }) %>
    </span>
  </p>
</div>
<div>
  <p>
    <%- entry.content %>
  </p>
</div>
