<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: pageTitle}); %>
</head>
<body>
  <header>
    <%- include('../partials/header', {chatRoom: chatRoom}); %>
  </header>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    
  </script>
</body>
</html>