<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title: pageTitle}); %>
</head>
<body>
  <header>
    <%- include('../partials/header', {chatRoom: chatRoom}); %>
  </header>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    function isUserNameValid(userName) {
      return userName.trim() !== '' && userName.length <= 10;
    }

    function setUserName() {
      if (!localStorage.getItem('userName')) {
        let userName = '';
        while (!isUserNameValid(userName)) {
          userName = prompt('What is your username? (10 char. max)');
        }
        localStorage.setItem('userName', userName);
      }
    }
     
    setUserName();
    const socket = io.connect('http://localhost:8080');
    socket.on('newUser', () => {
      setUserName();
    })
  </script>
</body>
</html>