<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/shared/head', {title: pageTitle}); %>
</head>
<body>
  <header>
    <%- include('../partials/shared/header', {chatRoom: chatRoom}); %>
  </header>
  <section>
    <% if (typeof entries !== 'undefined' && entries !== null && entries.length !== 0) { %>
      <%- include('../partials/roomDetail/entries', {entries}); %>
    <% } else { %>
      <%- include('../partials/roomList/rooms', {chatRooms}) %>
    <% } %>
  </section>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    function isUserNameValid(userName) {
      return userName.trim() !== '' && userName.length <= 10;
    }

    function setUserName() {
      if (!localStorage.getItem('userName')) {
        let userName = '';
        while (!isUserNameValid(userName)) {
          userName = prompt('What is your username? (10 char. max)');
        }
        localStorage.setItem('userName', userName);
      }
    }

    setUserName();
    const socket = io.connect('http://localhost:8080');
    socket.on('newUser', () => {
      setUserName();
    })
  </script>
</body>
</html>
